<div style="max-width:600px;">
<h1 style="text-align: center;">About Beer Diet</h1>
<p>Inspired by the stories of certain monestaries forgoing solid food 
and partaking of a beer only diet for the lenten season, Beer Diet exists to 
inform its users of the nutritional value of our favorite naturally carbonated 
beverages and consider the feasability of adopting such a fast for themselves.</p>
<p>For that purpose Beer Diet has assembled a list of beers available in the US 
market along with their calorie counts, abvs, and any other available information 
regarding the nutritional content of those beers. So let Beer Diet be your guide 
how well you would fare should you subsist on the single beverage of your choice!</p>
</div>
